@model Sisjuri.Models.vitima

@{
    ViewBag.Title = "Editar vítima";
}

<div class="row">
    <div class="main-box">
        <h2>Editar vítima</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.id_vitima)

                <div class="form-group">
                    @Html.LabelFor(model => model.nome_vitima, "Nome da vítima", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.nome_vitima, new { size = 35, maxlength = 45 })
                        @Html.ValidationMessageFor(model => model.nome_vitima)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.fk_id_processo, "Pertence ao processo nº", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.fk_id_processo, new SelectList(ViewData["lstProcesso"] as System.Collections.IEnumerable, "id_processo", "num_processo"))
                        @Html.ValidationMessageFor(model => model.fk_id_processo)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Salvar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Cancelar", "ListByIdProcess", new { id = Model.fk_id_processo })
        </div>
    </div>
</div>