@model Sisjuri.Models.curso

@{
    ViewBag.Title = "Cadastrar curso";
}

<div class="row">
    <div class="main-box">
        <h2>Cadastrar curso</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.nome_curso, "Nome do curso", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.nome_curso, new { size = 25, maxlength = 45 })
                        @Html.ValidationMessageFor(model => model.nome_curso)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.descricao_curso, "Descrição", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.descricao_curso, new { cols = 50, rows = 4 })
                        @Html.ValidationMessageFor(model => model.descricao_curso)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.fk_id_faculdade, "Faculdade", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.fk_id_faculdade, new SelectList(ViewData["lstFaculdade"] as System.Collections.IEnumerable, "id_faculdade", "nome_faculdade"))
                        @Html.ValidationMessageFor(model => model.fk_id_faculdade)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cadastrar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <div>
           @Html.ActionLink("Cancelar", "List")
        </div>
    </div>
</div>
