@model Sisjuri.Models.ques_agravante

@{
    ViewBag.Title = "Detalhes";
    Sisjuri.Models.usuario user = ((Sisjuri.Models.usuario)Session["usuario"]);
}

<div class="row">
    <div class="main-box">
        <h2>Detalhes do quesito agravante</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.quesito_agravante, "Quesito agravante")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.quesito_agravante)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.qag_sim, "Votos 'Sim'")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.qag_sim)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.qag_nao, "Votos 'Não'")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.qag_nao)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.processo.num_processo, "Pertence ao processo nº")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.processo.num_processo)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.processo.juri.nome_juri, "Julgado no")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.processo.juri.nome_juri)
                </dd>

            </dl>
        </div>
        <p>
            @{if (user.fk_id_perfil == 1 || user.fk_id_perfil == 2)
            {
                @Html.ActionLink("Editar", "Edit", new { id = Model.id_quesito_agravante })
            }}
            | @Html.ActionLink("Voltar à lista", "ListByIdProcess", new { id = Model.fk_id_processo })
        </p>
    </div>
</div>