@model Sisjuri.Models.reu

@{
    ViewBag.Title = "Excluir réu";
}

<div class="row">
    <div class="main-box">
        <h2>Tem certeza que deseja excluir este réu?</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.nome_reu, "Nome do réu")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nome_reu)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.processo.num_processo, "Pertence ao processo nº")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.processo.num_processo)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.processo.juri.nome_juri, "Julgado no")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.processo.juri.nome_juri)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Excluir" class="btn btn-default" /> |
                    @Html.ActionLink("Voltar à lista", "ListByIdProcess", new { id = Model.fk_id_processo })
                </div>
            }
        </div>
    </div>
</div>