@using Sisjuri.Helpers;

@model Sisjuri.Models.foto

@{
    ViewBag.Title = "Publicar fotos";
}

<div class="row">
    <div class="main-box">
        <h2>Publicar fotos</h2>

        @using (Html.BeginForm("UploadImage", "Foto", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "Checkfiles(this)"}))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @{ if (ViewData["message"] != null && ViewData["message"].ToString() != "")
                 {
                    <div class="alert alert-danger fade in">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <i class="fa fa-check-circle fa-fw fa-lg"></i>
                        <strong>@ViewData["message"]</strong>
                    </div>
                 }

                }
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.path, "Selecione as fotos", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.FileBox("path", new { id = "image", style = string.Format("width:{0}px", 400), accept = "image/png, image/jpeg, image/gif" , multiple = "multiple"})
                        @Html.ValidationMessageFor(model => model.path)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Publicar fotos" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Cancelar", "List", new { idJuri = int.Parse(Session["idJuri"].ToString()) })
        </div>
    </div>
</div>