@model Sisjuri.Models.ques_tentativa

@{
    ViewBag.Title = "Excluir quesito da tentativa";
}

<div class="row">
    <div class="main-box">
        <h2>Tem certeza que deseja excluir este quesito da tentativa?</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.quesito_tentativa, "Quesito da tentativa")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.quesito_tentativa)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.qt_sim, "Votos 'Sim'")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.qt_sim)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.qt_nao, "Votos 'Não'")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.qt_nao)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.processo.num_processo, "Pertence ao processo nº")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.processo.num_processo)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.processo.juri.nome_juri, "Julgado no")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.processo.juri.nome_juri)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Excluir" class="btn btn-default" /> |
                    @Html.ActionLink("Voltar à lista", "ListByIdProcess", new { id = Model.fk_id_processo })
                </div>
            }
        </div>
    </div>
</div>