@model Sisjuri.Models.usuario

@{
    ViewBag.Title = "Detalhes";
}

<div class="row">
    <div class="main-box">
        <h2>Detalhes do usuário</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.nome_completo, "Nome Completo")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nome_completo)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.cpf_usuario, "CPF")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cpf_usuario)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.email_usuario, "E-mail")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email_usuario)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.telefone_usuario, "Telefone")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telefone_usuario)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.faculdade.nome_faculdade, "Faculdade")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.faculdade.nome_faculdade)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.perfil.nome_perfil, "Perfil")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.perfil.nome_perfil)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.id_usuario }) |
            @Html.ActionLink("Voltar à lista", "List")
        </p>
    </div>
</div>